/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
}

.maxHeight {
  display: block;
  height: 100%;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.navbar {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
