<div class="row justify-content-md-center">

  <h1 *ngIf="!IsInitialized">Loading ...</h1>
  <div *ngIf="IsInitialized && !IsGameOver">
    <div class="row justify-content-md-center">
      <h1>Who is the cutest ? Click to vote !</h1>
    </div>
    <div class="row">
      <div class="col-6 justify-content-md-center">
        <img class="cat" src="{{CurrentCatDuel.LeftOpponenet.Image}}" (click)="Vote(CurrentCatDuel.LeftOpponenet.Id)" />
      </div>
      <div class="col-6 justify-content-md-center">
        <img class="cat" src="{{CurrentCatDuel.RightOpponenet.Image}}" (click)="Vote(CurrentCatDuel.RightOpponenet.Id)" />
      </div>
    </div>
    <div class="row justify-content-md-center" *ngIf="IsGameStarted">
    
      <div class="col-12">
        <h1>#1</h1>
        <img class="cat small" src="{{Winner.Image}}" />
      </div>
    </div>
  </div>

</div>

