

.cat {
  width: 600px;
  height: 600px;
  margin: 10px;
  border: 10px solid #99cccc;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}

.small {
  width: 100px !important;
  height: 100px !important;
}
